<nav class="navbar">

    <a href="../../categories/nettoyants.html">
        Nettoyants
    </a>

    <a href="../../categories/contour-yeux.html">
        Contour des Yeux
    </a>

    <a href="../../categories/cremes.html">
        Crèmes
    </a>

    <a href="../../categories/protection-solaire.html">
        Protection Solaire
    </a>

    <a href="../../categories/exfoliation-pads.html">
        Exfoliation & Pads
    </a>

    <a href="../../categories/kits.html">
        Kits
    </a>

</nav>
